body {
    background-color: lightgray;
}

.hidden {
    display: none;
}

form {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(160, 159, 159, 0.705);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#interface {
    background-color: honeydew;
    border-bottom: 3px solid lightskyblue;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

#interface button {
    margin-left: 50px;
    font-size: 16px;
    border-radius: 10px;
    background-color: lightskyblue;
    width: 120px;
    height: 40px;
    font-weight: 600;
}

.book-img {
    border: 1px solid black;
    width: 200px;
    height: 225px;
}

.book-list-item {
    box-sizing: border-box;
    width: 400px;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(160, 159, 159, 0.705);
    margin-bottom: 10px;
}

.book-list-item button {
    width: 75px;
    height: 35px;
    border-radius: 5px;
    background-color: lightgrey;
}

.book-list-item:hover {
    background-color: honeydew;
}

.work-space {
    box-sizing: border-box;
    display: flex;
}

#book-list, .actions {
    width: 50%;
}

.preview-img {
    background-image: url(https://avatars.mds.yandex.net/get-zen_doc/1781308/pub_5d6a7b1…_5d6a7c6…/scale_1200);
    width: 200px;
    height: 250px;
    background-size: cover;
}

.preview-wrap {
    width: 300px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(160, 159, 159, 0.705);
    padding: 20px;
    opacity: 0;
    transition: 0.5s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;
}


@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#form-btn-wrap {
    display: flex;
    justify-content: space-around;
}

#book-form div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}

#book-form label {
    margin-bottom: 5px;
}

#book-form div:nth-child(5) {
    margin-top: 20px;
    flex-direction: row;
    border-bottom: none;
}

#book-form div:nth-child(5) input {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

#form-btn-wrap input:nth-child(1) {
    background-color: springgreen;
}

#form-btn-wrap input:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.5);
}