/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
body {
  font-family: roboto;
  max-width: 1000px;
  background-color: #0b192f;
  margin: 0px auto;
}

.post-1 {
	background: #F3D250;
}
.post-2 {
	background: #8D8741;
}
.post-3 {
	background: #659DBD;
}
.post-4 {
	background: #DAAD86;
}

/* Your styles go here */

header, footer {
  background-color: #162b4d;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  margin-bottom: 20px;
  color: white;
}

header p {
  font-size: 28px;
  font-weight: 300;
}

header span {
  color: #82184f;
}

nav {
  width: 300px;
}

.burger {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

nav li {
  font-size: 14px;
}

nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 34px 15px;
}

nav a:hover {
  color: #b8b8b8;
  background-color: #445570;
}

main {
  display: flex;
}

.travel-cards {
  width: 730px;
  box-sizing: border-box;
  margin-right: 20px;
}

.travel-cards article {
  display: flex;
}

.travel-cards article img {
  width: 50%;
}

.travel-cards-text-wrap {
  position: relative;
  padding: 0px 80px 0px 25px;
  color: #484848;
}

.travel-cards article img:hover, .travel-cards-text-wrap:hover {
  opacity: 0.5;
}

.travel-cards-text-wrap h2 {
  font-size: 26px;
  font-weight: 200;
}

.travel-cards-text-info {
  font-size: 11px;
  line-height: 24px;
}

.travel-cards-date {
  position: absolute;
  right: 20px;
  top: 0px;
  text-align: center;
}

.travel-cards-date {
  font-size: 18px;
}

.travel-cards-date-monthday {
  font-size: 32px;
}

.travel-cards-date, .travel-cards-date-monthday {
  font-weight: 300;
}

.travel-cards article:nth-child(even) {
  flex-direction: row-reverse;
}

.travel-cards article:nth-child(even) .travel-cards-text-wrap {
  padding: 0px 25px 0px 80px;
  text-align: right;
}

.travel-cards article:nth-child(even) .travel-cards-date {
  position: absolute;
  right: inherit;
  left: 20px;
}

.news-cards {
  width: 250px;
  box-sizing: border-box;
}

.news-cards article {
  background-color: white;
  margin-bottom: 20px;
}

.news-cards-text-wrap {
  padding: 0px 20px 20px 20px;
}

.news-cards img {
  width: 100%;
}

.news-cards-text-wrap h3 {
  font-size: 24px;
  font-weight: 200;
}

.news-cards button {
  background-color: white;
  border: 1px solid black;
  width: 105px;
  height: 25px;
  font-size: 12px;
}

.news-cards button:hover {
  border: none;
  border-bottom: 1px solid black;
}

.news-cards-text-wrap p {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}

#post-5 {
  height: 350px;
  background: url(../img/post5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 20px;
}

#post-5 .travel-cards-text-wrap:hover {
  opacity: 1;
}

#post-5 .travel-cards-text-wrap {
  padding: 150px 20px 0px 20px;
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
  font-size: 12px;
  color: #7a828f;
  line-height: 24px;
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
    margin: 0px 5px;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px 0px 0px 0px;
  }

  .burger {
    display: block
  }

  nav {
    display: none;
  }

  #post-5 .travel-cards-text-wrap {
    padding: 60px 20px 0px 20px;
  }

  .traver-cards {
    width: 378px;
    margin-right: 10px;
  }

  .news-cards {
    width: 340px;
  }

  .travel-cards article {
    flex-direction: column;
  }

  .travel-cards-text-wrap {
    padding: 0px 30px;
  }

  .travel-cards article img {
    width: 100%;
  }

  .travel-cards-date {
    position: static;
  }

  .travel-cards article:nth-child(even) {
    flex-direction: column;
  }

  .travel-cards article:nth-child(even) .travel-cards-text-wrap {
    padding: 0px 30px;
    text-align: inherit;
  }

  .travel-cards article:nth-child(even) .travel-cards-date {
    position: static;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer p:nth-child(1) {
    margin-bottom: 0px;
  }

  footer p:nth-child(2) {
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  body {
    max-width: 480px;
  }
  
  main {
    display: block;
  }
  
  .travel-cards, .news-cards {
    width: 100%;
  }
}