p {
    margin: 0;
    user-select: none;
}

ul {
    list-style: none;
}

.closed {
    display: none;
}

i {
    color: #edbc0b;
}

.file i {
    color: #b0b0b0;
}

.empty {
    font-style: italic;
}

.folder:hover, .file:hover, #rename:hover, #delete:hover {
    background-color: #e3e3e3;
}

.context-menu {
    width: 90px;
    height: 45px;
    background-color: #f7f7f7;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 10px;
}

#root {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 10px 0px;
}

ul div {
    display: flex;
    align-items: center;
}