p {
    height: 32px;
    margin: 0;
    cursor: pointer;
}

ul {
    list-style: none;
}

.closed {
    display: none;
}

.open {
    display: block;
}

i {
    color: #edbc0b;
    vertical-align: text-bottom;
}

.file i {
    color: #b0b0b0;
}

.empty {
    font-style: italic;
}

.folder:hover, .file:hover {
    background-color: #e3e3e3;
}

