.home button, #footer-search-btn {
    background-color: #ff7f50;
    font-weight: 500;
    color: white;
}

header .row {
    padding: 0px;
}

header .row .col {
    padding-left: 0px;
    padding-right: 0px;
}